.DS_Store
.dart_tool/

.packages
.pub/

build/

.idea/
*.iml
.vscode/

pubspec.lock
example/ios/Podfile.lock
example/ios/Flutter/Flutter.podspec
.metadata

example/ios/Flutter/flutter_export_environment.sh
example/.flutter-plugins-dependencies
